.profile-container {
  border: 1px solid red;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-profile {
  border: 1px solid red;
  max-width: 30%;
}

.user-content {
  border: 1px solid red;
  min-width: 60%;
}

.review-container {
  border: 1px solid red;
}

.journal-container {
  border: 1px solid red;
}
